body {
  margin: 50px 0px;
  padding: 0px;
  text-align: center;
  align: center;
}
.form {
  display: inline-block;
  border: solid;
  border-radius: 10px;
  height: auto;
  align-content: center;
  width: fit-content;
  background-color: darkgray;
  padding: 20px;
}

.name,
.security,
.actions {
  display: inline-block;
  padding: 2%;
}
